# defaults
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store
*/build
*/build/*
build/*
*/intermediates
/gradle


# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
gen-external-apklibs
*.apk
*.iml
/*.iml
app/app.iml
# Other
*.keystore




#Crashalytics
com_crashlytics_export_strings.xml
crashlytics-build.properties